.content__log {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentModal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    .log {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            width: 40%;
            background-color: #B794F6;
            padding: 10px;
            margin: 10px 0;
            text-align: center;
            transition: all 500ms ease;
            border: 1px solid #0d6efd;

            &:hover {
                background-color: #17014C;
                color: #FFF;
                border-radius: 0.3rem;
            }
        }

        .active {
            background-color: #17014C;
            color: #FFF;
            border-radius: 0.3rem;
        }
    }

    .container__form {
        width: 60%;
        margin: 10px;

        .formulaire {
            width: 90%;
            margin: 10px auto;
            display: grid;
            .box-terms{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                input{
                    margin: 10px;
                }
            }
            p {
                width: 100%;
                padding-top: 10px;
            }

            input {
                height: 40px;
                border: solid 1px #B794F6;
                border-radius: 0.3rem;
                font-size: 16px;
            }
        }
    }
}

#terms {
    width: 10%;
    height: 90%;
}

#submitBtn {
    background-color: #B794F6;
    margin: 10px 0;
    transition: all 500ms ease;

    &:hover {
        background-color: #17014C;
        color: #FFF;
        border-radius: 0.3rem;
    }
}

#inscriptionBtn {
    background-color: gainsboro;
}