/* Footer */
.main-footer {
    border-top: 2px solid gray;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    height: 25%;
    background-color: #f5F5F5;
    color: #17014C;

    .container-footer {
        height: 100%;
        width: 100%;

        .row-footer {
            height: 90%;

            .logo {
                width: 10%;
                height: 70%;
            }

            .footer-col {
                padding:0 10px;
                height: 100%;
                .flex-wrap-icons{
                    display: flex;
                    flex-wrap: wrap;
                    width: 80px;
                    margin: 5px auto;
                }

                .col-question {
                    line-height: 18px;
                    p, a{
                        font-size: 12px;
                        font-weight: 400;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }

        .footer-bottom {
            height: 10%;
            margin-bottom: 5px auto;
            padding: 10px auto;

            .text-xs-center {
                font-size: 12px;
                margin-bottom: 0;
            }
        }
    }
}